header {
  background-color: transparent !important;
}

.asideControllersMain {
  position: fixed;
  z-index: 1000000;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: var(--primaryCardColorLighter);
  display: -ms-grid;
  display: grid;
  align-items: center;
  justify-content: space-around ;
  padding: 0 1em 0 1em;
  border: 1px solid var(--TertiaryColor);
  border-radius: var(--cardBorderRadius);
  box-shadow: var(--boxShadowLightBehind);
  overflow-y: scroll;
  overflow-x: hidden;
}

.asideControllersMain[aria-expanded="false"]{
  width: max(75px, 5em);
}

.asideControllersMain[aria-expanded="true"]{
  max-width: 90vw;
}
.asideControllersList {
  display: contents;
}


.asideControllersMain[aria-expanded="false"] .asideControllersText {
  display: none;
  visibility: hidden;
}

.linkControllerParent {
  display: -ms-grid;
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  gap: 1em;
  width:  60px;
  height: 60px;  
}
.asideControllersIcon {
  fill: var(--TertiaryColor);
  width:  90%;
  height: 40px;
  cursor: pointer;
  padding: 0 0 0 0.5em;
  transform: scale(0.9);
  transition: var(--transition-5ms-Ease) ; 
}
.asideControllersIcon:hover{
  transform: scale(1.05);
  fill: var(--primaryColor);
}

#speedBar {
  appearance: none;
  display: inline;
  color: var(--TertiaryColor);
  transform: rotate(-90deg) translateX(0.5em);
  fill: var(--TertiaryColor);
  position: relative;
  cursor: pointer;
  border-radius: var(--cardBorderRadius);
}
#speedBar::after {
  content: attr(value);
  bottom: 70%;
  left: 45%;
  position: absolute;
  color: var(--TertiaryColor);
}
#speedBar::-webkit-slider-runnable-track {
  appearance: none;
  height: 14px;
  background: var(--primaryColorDark);
  border-radius: var(--cardBorderRadius);
  border: 1.5px solid var(--TertiaryColor);
}
#speedBar::-webkit-slider-thumb {
  appearance: none;
  height: 17.5px;
  width: 17.5px;
  border-radius: 50%;
  border: none;
  background-color: var(--TertiaryColor);
  margin-top: -0.25em;
}

.heroSection {
width: 100vw;
height: 20vh;
background: red;
display: flex;
align-items: center;
justify-content: center;
} 


.securityGuardTemperature {
}

.mainContentApp {
  display: -ms-grid;
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  max-width: max(90%, 90vw);
  min-height: 100vh;
  background: var(--primaryCardColorLighter);
  padding: 1em;
  border-radius: var(--cardBorderRadius);
  box-shadow: var(--boxShadowLightBehind);
}
.stream {
  width: 90%;
  height: max(40%, 40vh);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.weekVideoApp {
  background: var(--primaryColor);
  width: 100%;
  height: 100%;
  border-radius: var(--cardBorderRadiusThin);
}

.controllersContinuer {
  width: 100%;
  height: max(60%, 50vh);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.controllers {
  height: 100%;
  width: 48%;
  padding: 1em;
  background: var(--primaryCardColorLighter);
  border-radius: var(--cardBorderRadius);
  box-shadow: var(--boxShadowLightBehind);
  display: -ms-grid;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2em;
}

.buttonControllerLink {
  max-width: max(70px, 2em);
  max-height: max(70px, 2em);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  justify-content: center;
  align-items: center;
  place-self: center;
  background-color: var(--secondaryColor);
  padding: 1rem;
}
.conIcon {
  fill: var(--primaryColor);
  width: 100%;
  height: 100%;
}
.TopIcon {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  grid-column: 2;
  grid-row: 1;
}
.LeftIcon {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  grid-column: 1;
  grid-row: 2;
}
.CenterIcon {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
  grid-column: 2;
  grid-row: 2;
}
.RightIcon {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
  grid-column: 3;
  grid-row: 2;
}

.BottomIcon {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
  grid-column: 2;
  grid-row: 3;
}
